:root {
  --colorFactorialOrange: #ff6f40;
  --colorFactorialGreen: #00c58e;
  --colorFactorialBlue: #0096db;
  --colorFactorialUltraMarine: #222;
  --colorWhite: #fff;
  --colorBlack: #000;
}

html, body {
  color: var(--colorFactorialUltraMarine);
}

body {
  font-family: "Suisse Int'l", Helvetica, "Helvetica Neue", sans-serif;
}

.theme-container.no-sidebar {
  background-color: #012954;
  color: #fff;
  min-height: 100vh;
}

.navbar * {
  color: #012954 !important;
}

.home {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.home .features,
.home .footer {
  border-top: 0 !important;
}

.home .feature * {
  color: rgba(255,255,255,0.8) !important;
}

.home .hero img {
  max-width: initial;
  max-height: initial;
  width: 240px;
}

.home .hero h1 {
  display: none;
}

.home .hero .action-button {
  background-color var(--colorFactorialOrange) !important;
  border-color: var(--colorFactorialOrange) !important;;
}
