/vendor
/.idea

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/bin/console
/bin/phpunit
/build/phabalicious.phar
/docs/site
node_modules
docs/.vuepress/dist
