<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="tests">
            <directory>.</directory>
        </testsuite>
        <testsuite name="ci">
            <directory>.</directory>
            <exclude>DockerExecShellProviderTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
