services:
  _defaults:
    autowire: true

  Phabalicious\:
    resource: '../src'
    exclude:
      - '../src/Method/BaseMethod.php'
      - '../src/Method/BaseNotifyMethod.php'
      - '../src/Method/DatabaseMethod.php'
      - '../src/Method/ArtifactsBaseMethod.php'
      - '../src/Method/RunCommandBaseMethod.php'

  Symfony\Component\Console\Application:
    public: true

  Symfony\Component\EventDispatcher\EventDispatcher:
    public: true

  Symfony\Component\Console\Output\ConsoleOutput:
    public: true

  Symfony\Component\Console\Input\ArgvInput:
    public: true

  Phabalicious\Utilities\Logger:
    public: true

  Psr\Log\LoggerInterface:
    alias: Phabalicious\Utilities\Logger

  Symfony\Component\Console\Output\OutputInterface:
    alias: Symfony\Component\Console\Output\ConsoleOutput

  Symfony\Component\Console\Input\InputInterface:
    alias: Symfony\Component\Console\Input\ArgvInput

  Phabalicious\Configuration\ConfigurationService:
    public: true
